* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.hero-section {
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 45px;
  background: #ffffff;
}

nav h1 {
  font-size: 28px;
  color: #3a4852;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
  color: #000000;
}

nav ul li {
  cursor: pointer;
  font-size: 20px;
}

nav ul li:hover {
  color: blue;
}

.hero {
  width: 100%;
  height: 90%;
  background-color: gray;
  background-image: url("/public/hero-bg.jpg"); /* Make sure image path is correct */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero div {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 10%;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.students-section {
  width: 100%;
  height: fit-content;
  padding: 100px 30px;
  background-color: #f5f5f5;
}

.student-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 20px;
  padding: 1rem;
}

.card {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  padding: 1rem;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}
